@import url('https://fonts.googleapis.com/css?family=Kanit:400,900|Raleway');

/*songs*/

html,body{
	font-family: 'Raleway', sans-serif;
	height: 100%;

}

body{
	background-color: #AF0929;
	background-image:url(../img/back.jpg); 
	background-position: center;
	font-family: 'Raleway', sans-serif; 
	color:white;
}

label{
	color:white;
	font-style: italic;
}

/*FORM*/

input[type="text"]{
	border-radius:5px;
}



.beta{
	position: absolute;
	top: -1px;
	right: 10px;
	background: white;
	color:#AF0929;
	font-size: .8em;
	text-align: center;
	padding: 10px;
	font-family: 'Raleway', sans-serif; 
	border-radius: 0 0 10px 10px;
	cursor: pointer;

}

.loader_wrapper{
	display: none;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top:0;
	left:0;
}
.loader{
	width: 120px;
	height: 120px;
	background-color:white;
	background-image: url(../img/loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
	top: 50%;
	left:50%;
	margin-top: -100px;
	margin-left: -60px;
	position: absolute;
	z-index: 9999;
	-webkit-box-shadow: 2px 6px 51px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 6px 51px 0px rgba(0,0,0,0.25);
	box-shadow: 2px 6px 51px 0px rgba(0,0,0,0.25);

}

a:hover, a:focus{
	color:white;
}
.container{
	margin-top: 20px;
	width: 80%;
	max-width: 600px;
	margin:auto;
	padding-top: 50px;
	padding-bottom: 100px;

}

h1,h2,h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-align: center;
}

h2{
	text-transform: uppercase;
}
nav.main{
	margin-bottom: 30px;	
}
nav.main ul{
	text-align: center;
}
nav.main ul li{
	list-style: none;
	display: inline-block;
	margin-right:10px;
	border-left:1px solid white;
	padding-left: 10px;
}
nav.main ul li:first-child{
	border-left:none;
}
nav.main ul li a{
	color:white;
}
.list_rey{
	margin:auto;
}

.list_rey li{
	list-style: none;
	background: white;
	color:#DE353A;
	padding: 10px;
	margin-bottom:10px;
	border-radius: 5px;
	position: relative;
}

.list_rey li a{
	color:#DE353A;
	width:100%;
	height: 100%;
	display: block;
}

.list_rey li a:hover,.list_rey li a:focus{
	color:#DE353A;
	width:100%;
}

.list_rey li .trash,.list_rey li .trash_song{
	position: absolute;
	top:0;
	right:0;
	background: #DE353A;
	color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;

}

.rey_button{
	display: block;
	text-align: center;
	color:white;
	padding: 10px;
	border-radius: 5px;
	background: black;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}

.rey_button.green{
	background: #00BF22;
}

.rey_button.red{
	background: #DE353A;
}

.rey_button.blue{
	background: #008EFF;
}

.rey_button.loggin{
	min-width: 50%;
}

.rey_button.full{
	min-width: 100%;
}

.rey_button.small{
	display: inline-block;
}


/*SETLIST & SONGS*/
.title{
	color: #666;
}

.duration{
	color:#333;
}




.reveal{
	background-image:url(../img/back.jpg);
	padding: 40px;
	padding-top: 80px;
	border:none;
}

.reveal .close-button{
	color:white;
}
.reveal .close-button,.reveal .close-button.medium{
	top:1em;
	right:1em;
}


/*PRESSKITS*/

.steps{
	position: absolute;;
	top:30px;
	left: 0;
	width: 100%;
	text-align: center;
}

/*.steps:after{
	border-bottom:10px solid white;
	width: 100%;
	height: 10px;
	content: "";
	display: block;
	margin-top: -50px;
}*/

.steps .step{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: rgba(256,256,256,.3);
	border-radius: 100%;
	text-align: center;
	margin-right: 20px;
}

.steps .step.active{
	background: #00BF22;
}
.owl-carousel,.owl-stage-outer,.owl-stage{
	height: 100%;
}

.owl-carousel .owl-item{
	height: 100%;
	padding-top: 200px;
}

.owl-carousel .owl-item h2{
	text-align: center;
}

.text_wrapper{
	position: relative;
}

.text_wrapper .counter{
	position: absolute;
	left: 0;
	bottom:-30px;
	background: rgba(80,21,22,.4);
	color:white;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: .7em;
}

/*JQUERY UI*/

.option .ui-state-default, .ui-widget-header .ui-state-default, .option .ui-button{
	width: 100%;
	border:none;
	margin-bottom: 5px;
	padding: 10px;
	border:none;
	outline: none !important;
	box-shadow: none;
	font-family: 'Raleway', sans-serif; 
	font-style: normal;
}

.option .ui-button:active, .option .ui-button.ui-state-active:hover{
	background: green;
	border:none;
}

.option.high .ui-state-active,.option.high .ui-button:active, .option.high .ui-button.ui-state-active:hover{
	background: red;
	border:none;
}

.option.medium .ui-state-active,.option.medium .ui-button:active, .option.medium .ui-button.ui-state-active:hover{
	background: #F1BD2B;
	border:none;
}


.option.low .ui-state-active,.option.low .ui-button:active, .option.low .ui-button.ui-state-active:hover{
	background: green;
	border:none;
}

.ui-button .ui-icon{
	display: none;
}

.wrapper_slider .duration_slider{
	width:70%;
	float: left;
	margin-top:5px;
}

.wrapper_slider .display_slider{
	width:30%;
	float: left;
	text-align: center;
}

.ui-slider .ui-slider-handle{
	border-radius: 100%;
	outline: none !important;
	-webkit-box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	background: url(../img/handle.png)center;
	border:5px solid black;
	width: 1.5em;
	height: 1.5em;

}

.ui-slider-horizontal .ui-slider-handle{
	top: -.3em;
}

.ui-slider-range{
	background: black;
}

.ui-widget-content,.ui-widget.ui-widget-content{
	border:none;
	background: url('../img/slider_back.png');
	background-size: auto 100%;
	background-position: center center;
}

/*SELECT2*/
.select2-container{
	display: block;
}

footer{
	border-top:5px solid white;
	background: black;
	bottom: 0;
	left:0;
	width: 100%;
	height: 80px;
	text-align: center;
	padding-top: 10px;
	z-index: 1007;
	font-size: .8em;
	position: fixed;
}